In [16]:
import pandas as pd

In [17]:
dogs=pd.DataFrame(
    {
        "name": ["Bella","Charlie","Lucy","Cooper","Max","Stella","Bernie"],
        "breed": ["Labrador","Poodle","Chow Chow","Schnauzer","Labrador","Chihuahua","St. Bernard"],
        "color": ["Brown","Black","Brown","Gray","Black","Tan","White"],
        "height_cm": [56,43,46,49,59,18,77],
        "weight_kg": [25,23,22,17,29,2,74],
        "date_of_birth": ['2013-07-01','2016-09-16','2014-08-25','2011-12-11','2017-01-20','2015-04-20','2018-02-27'],
    }
)

In [18]:
import numpy as np
import random

# Número de filas que deseas generar
num_filas = 75

# Definir el rango de fechas
fecha_inicio = pd.to_datetime("2018-01-01")
fecha_fin = pd.to_datetime("2019-12-31")

# Calcular el rango en días entre las fechas
dias_rango = (fecha_fin - fecha_inicio).days

# Generar números aleatorios de días dentro del rango
dias_aleatorios = np.random.randint(0, dias_rango, size=num_filas)

# Sumar los días aleatorios a la fecha de inicio para obtener las fechas finales
fechas_aleatorias = fecha_inicio + pd.to_timedelta(dias_aleatorios, unit='D')

# Seleccionar 'Name' aleatoriamente y asignar el 'Breed' correspondientes
names_aleatorios = [random.choice(dogs["name"]) for _ in range(num_filas)]

# Crear un nuevo DataFrame vacío
vet_visits = pd.DataFrame()

# Rellenar cada columna con valores aleatorios según el tipo de datos
vet_visits["date"] = fechas_aleatorias
vet_visits["name"] = names_aleatorios
vet_visits["breed"] = [dogs.loc[dogs["name"] == name, "breed"].values[0] for name in names_aleatorios]
vet_visits["weight_kg"] = [
    random.randint(
        int(dogs.loc[dogs["name"] == name, "weight_kg"].values[0] - 3),
        int(dogs.loc[dogs["name"] == name, "weight_kg"].values[0] + 5)
    )
    for name in names_aleatorios
]


print(vet_visits)

         date    name        breed  weight_kg
0  2019-01-27    Lucy    Chow Chow         21
1  2018-02-20    Lucy    Chow Chow         25
2  2019-02-12     Max     Labrador         29
3  2019-06-03    Lucy    Chow Chow         22
4  2018-06-28   Bella     Labrador         28
..        ...     ...          ...        ...
70 2018-08-05  Bernie  St. Bernard         75
71 2019-06-18  Stella    Chihuahua          6
72 2019-02-12     Max     Labrador         30
73 2019-01-16    Lucy    Chow Chow         23
74 2018-03-15    Lucy    Chow Chow         25

[75 rows x 4 columns]

Eliminación de nombres duplicados

In [19]:
vet_visits.drop_duplicates(subset="name")

         date     name        breed  weight_kg
0  2019-01-27     Lucy    Chow Chow         21
2  2019-02-12      Max     Labrador         29
4  2018-06-28    Bella     Labrador         28
5  2018-03-04   Bernie  St. Bernard         78
6  2019-05-02   Stella    Chihuahua          4
8  2019-05-02  Charlie       Poodle         26
15 2019-10-22   Cooper    Schnauzer         15

Eliminación de pares duplicados

In [20]:
unique_dogs = vet_visits.drop_duplicates(subset=["name", "breed"]) 
print(unique_dogs)

         date     name        breed  weight_kg
0  2019-01-27     Lucy    Chow Chow         21
2  2019-02-12      Max     Labrador         29
4  2018-06-28    Bella     Labrador         28
5  2018-03-04   Bernie  St. Bernard         78
6  2019-05-02   Stella    Chihuahua          4
8  2019-05-02  Charlie       Poodle         26
15 2019-10-22   Cooper    Schnauzer         15

In [21]:
unique_dogs["breed"].value_counts()

breed
Labrador       2
Chow Chow      1
St. Bernard    1
Chihuahua      1
Poodle         1
Schnauzer      1
Name: count, dtype: int64

In [22]:
unique_dogs["breed"].value_counts(sort=True)

breed
Labrador       2
Chow Chow      1
St. Bernard    1
Chihuahua      1
Poodle         1
Schnauzer      1
Name: count, dtype: int64

Proporciones

In [23]:
unique_dogs["breed"].value_counts(normalize=True)

breed
Labrador       0.285714
Chow Chow      0.142857
St. Bernard    0.142857
Chihuahua      0.142857
Poodle         0.142857
Schnauzer      0.142857
Name: proportion, dtype: float64