In [22]:
import pandas as pd

In [23]:
dogs=pd.DataFrame(
    {
        "name": ["Bella","Charlie","Lucy","Cooper","Max","Stella","Bernie"],
        "breed": ["Labrador","Poodle","Chow Chow","Schnauzer","Labrador","Chihuahua","St. Bernard"],
        "color": ["Brown","Black","Brown","Gray","Black","Tan","White"],
        "height_cm": [56,43,46,49,59,18,77],
        "weight_kg": [25,23,22,17,29,2,74],
        "date_of_birth": ['2013-07-01','2016-09-16','2014-08-25','2011-12-11','2017-01-20','2015-04-20','2018-02-27'],
    }
)

.columns and .index

In [24]:
dogs.columns

Index(['name', 'breed', 'color', 'height_cm', 'weight_kg', 'date_of_birth'], dtype='object')

In [25]:
dogs.index

RangeIndex(start=0, stop=7, step=1)

Establecer una columna como índice

In [26]:
dogs_ind = dogs.set_index("name") 
print(dogs_ind)

               breed  color  height_cm  weight_kg date_of_birth
name
Bella       Labrador  Brown         56         25    2013-07-01
Charlie       Poodle  Black         43         23    2016-09-16
Lucy       Chow Chow  Brown         46         22    2014-08-25
Cooper     Schnauzer   Gray         49         17    2011-12-11
Max         Labrador  Black         59         29    2017-01-20
Stella     Chihuahua    Tan         18          2    2015-04-20
Bernie   St. Bernard  White         77         74    2018-02-27

Eliminación de un índice

In [27]:
dogs_ind.reset_index()

      name        breed  color  height_cm  weight_kg date_of_birth
0    Bella     Labrador  Brown         56         25    2013-07-01
1  Charlie       Poodle  Black         43         23    2016-09-16
2     Lucy    Chow Chow  Brown         46         22    2014-08-25
3   Cooper    Schnauzer   Gray         49         17    2011-12-11
4      Max     Labrador  Black         59         29    2017-01-20
5   Stella    Chihuahua    Tan         18          2    2015-04-20
6   Bernie  St. Bernard  White         77         74    2018-02-27

Quitar un índice

In [28]:
dogs_ind.reset_index(drop=True)

         breed  color  height_cm  weight_kg date_of_birth
0     Labrador  Brown         56         25    2013-07-01
1       Poodle  Black         43         23    2016-09-16
2    Chow Chow  Brown         46         22    2014-08-25
3    Schnauzer   Gray         49         17    2011-12-11
4     Labrador  Black         59         29    2017-01-20
5    Chihuahua    Tan         18          2    2015-04-20
6  St. Bernard  White         77         74    2018-02-27

Los índices simplifican los subconjuntos

In [29]:
dogs[dogs["name"].isin(["Bella", "Stella"])]

     name      breed  color  height_cm  weight_kg date_of_birth
0   Bella   Labrador  Brown         56         25    2013-07-01
5  Stella  Chihuahua    Tan         18          2    2015-04-20

In [30]:
dogs_ind.loc[["Bella", "Stella"]]

            breed  color  height_cm  weight_kg date_of_birth
name
Bella    Labrador  Brown         56         25    2013-07-01
Stella  Chihuahua    Tan         18          2    2015-04-20

No es necesario que los valores de índice sean únicos

In [31]:
dogs_ind2 = dogs.set_index("breed") 
print(dogs_ind2)

                name  color  height_cm  weight_kg date_of_birth
breed
Labrador       Bella  Brown         56         25    2013-07-01
Poodle       Charlie  Black         43         23    2016-09-16
Chow Chow       Lucy  Brown         46         22    2014-08-25
Schnauzer     Cooper   Gray         49         17    2011-12-11
Labrador         Max  Black         59         29    2017-01-20
Chihuahua     Stella    Tan         18          2    2015-04-20
St. Bernard   Bernie  White         77         74    2018-02-27

Subconjuntos de valores de índice duplicados

In [32]:
dogs_ind2.loc["Labrador"]

           name  color  height_cm  weight_kg date_of_birth
breed
Labrador  Bella  Brown         56         25    2013-07-01
Labrador    Max  Black         59         29    2017-01-20

Índices multinivel, también conocidos como índices jerárquicos

In [33]:
dogs_ind3 = dogs.set_index(["breed", "color"]) 
print(dogs_ind3)

                      name  height_cm  weight_kg date_of_birth
breed       color
Labrador    Brown    Bella         56         25    2013-07-01
Poodle      Black  Charlie         43         23    2016-09-16
Chow Chow   Brown     Lucy         46         22    2014-08-25
Schnauzer   Gray    Cooper         49         17    2011-12-11
Labrador    Black      Max         59         29    2017-01-20
Chihuahua   Tan     Stella         18          2    2015-04-20
St. Bernard White   Bernie         77         74    2018-02-27

Subconjunto del nivel exterior con una lista

In [34]:
dogs_ind3.loc[["Labrador", "Chihuahua"]]

                   name  height_cm  weight_kg date_of_birth
breed     color
Labrador  Brown   Bella         56         25    2013-07-01
          Black     Max         59         29    2017-01-20
Chihuahua Tan    Stella         18          2    2015-04-20

Subconjunto de niveles internos con una lista de tuplas

In [35]:
dogs_ind3.loc[[("Labrador", "Brown"), ("Chihuahua", "Tan")]]

                   name  height_cm  weight_kg date_of_birth
breed     color
Labrador  Brown   Bella         56         25    2013-07-01
Chihuahua Tan    Stella         18          2    2015-04-20

Ordenar por valores de índice

In [36]:
dogs_ind3.sort_index()

                      name  height_cm  weight_kg date_of_birth
breed       color
Chihuahua   Tan     Stella         18          2    2015-04-20
Chow Chow   Brown     Lucy         46         22    2014-08-25
Labrador    Black      Max         59         29    2017-01-20
            Brown    Bella         56         25    2013-07-01
Poodle      Black  Charlie         43         23    2016-09-16
Schnauzer   Gray    Cooper         49         17    2011-12-11
St. Bernard White   Bernie         77         74    2018-02-27

Controlling sort_index

In [37]:
dogs_ind3.sort_index(level=["color", "breed"], ascending=[True, False])

                      name  height_cm  weight_kg date_of_birth
breed       color
Poodle      Black  Charlie         43         23    2016-09-16
Labrador    Black      Max         59         29    2017-01-20
            Brown    Bella         56         25    2013-07-01
Chow Chow   Brown     Lucy         46         22    2014-08-25
Schnauzer   Gray    Cooper         49         17    2011-12-11
Chihuahua   Tan     Stella         18          2    2015-04-20
St. Bernard White   Bernie         77         74    2018-02-27