In [8]:
import pandas as pd

In [9]:
dogs=pd.DataFrame(
    {
        "name": ["Bella","Charlie","Lucy","Cooper","Max","Stella","Bernie"],
        "breed": ["Labrador","Poodle","Chow Chow","Schnauzer","Labrador","Chihuahua","St. Bernard"],
        "color": ["Brown","Black","Brown","Gray","Black","Tan","White"],
        "height_cm": [56,43,46,49,59,18,77],
        "weight_kg": [24,23,24,17,29,2,74],
        "date_of_birth": ['2013-07-01','2016-09-16','2014-08-25','2011-12-11','2017-01-20','2015-04-20','2018-02-27'],
    }
)

Resúmenes por grupo

In [10]:
print(dogs[dogs["color"] == "Black"]["weight_kg"].mean()) 
print(dogs[dogs["color"] == "Brown"]["weight_kg"].mean()) 
print(dogs[dogs["color"] == "White"]["weight_kg"].mean()) 
print(dogs[dogs["color"] == "Gray"]["weight_kg"].mean())
print(dogs[dogs["color"] == "Tan"]["weight_kg"].mean())

26.0
24.0
74.0
17.0
2.0

Resúmenes agrupados

In [11]:
dogs.groupby("color")["weight_kg"].mean()

color
Black    26.0
Brown    24.0
Gray     17.0
Tan       2.0
White    74.0
Name: weight_kg, dtype: float64

Múltiples resúmenes agrupados

In [12]:
dogs.groupby("color")["weight_kg"].agg([min, max, sum])

C:\Users\valer\AppData\Local\Temp\ipykernel_24520\3677549605.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  dogs.groupby("color")["weight_kg"].agg([min, max, sum])
C:\Users\valer\AppData\Local\Temp\ipykernel_24520\3677549605.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  dogs.groupby("color")["weight_kg"].agg([min, max, sum])
C:\Users\valer\AppData\Local\Temp\ipykernel_24520\3677549605.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dogs.groupby("color")["weight_kg"].agg([min, max, sum])

       min  max  sum
color
Black   23   29   52
Brown   24   24   48
Gray    17   17   17
Tan      2    2    2
White   74   74   74

Agrupación por múltiples variables

In [13]:
dogs.groupby(["color", "breed"])["weight_kg"].mean()

color  breed
Black  Labrador       29.0
       Poodle         23.0
Brown  Chow Chow      24.0
       Labrador       24.0
Gray   Schnauzer      17.0
Tan    Chihuahua       2.0
White  St. Bernard    74.0
Name: weight_kg, dtype: float64

Muchos grupos, muchos resúmenes

In [14]:
dogs.groupby(["color", "breed"])[["weight_kg", "height_cm"]].mean()

                   weight_kg  height_cm
color breed
Black Labrador          29.0       59.0
      Poodle            23.0       43.0
Brown Chow Chow         24.0       46.0
      Labrador          24.0       56.0
Gray  Schnauzer         17.0       49.0
Tan   Chihuahua          2.0       18.0
White St. Bernard       74.0       77.0