In [1]:
import pandas as pd

In [2]:
dogs=pd.DataFrame(
    {
        "name": ["Bella","Charlie","Lucy","Cooper","Max","Stella","Bernie"],
        "breed": ["Labrador","Poodle"," Chow Chow","Schnauzer","Labrador","Chihuahua","St. Bernard"],
        "color": ["Brown","Black","Brown","Gray","Black","Tan","White"],
        "height_cm": [56,43,46,49,59,18,77],
        "weight_kg": [25,23,22,17,29,2,74],
        "date_of_birth": ['2013-07-01','2016-09-16','2014-08-25','2011-12-11','2017-01-20','2015-04-20','2018-02-27'],
    }
)

Añadir una nueva columna

In [3]:
dogs["height_m"] = dogs["height_cm"] / 100 
print(dogs)

      name        breed  color  height_cm  weight_kg date_of_birth  height_m
0    Bella     Labrador  Brown         56         25    2013-07-01      0.56
1  Charlie       Poodle  Black         43         23    2016-09-16      0.43
2     Lucy    Chow Chow  Brown         46         22    2014-08-25      0.46
3   Cooper    Schnauzer   Gray         49         17    2011-12-11      0.49
4      Max     Labrador  Black         59         29    2017-01-20      0.59
5   Stella    Chihuahua    Tan         18          2    2015-04-20      0.18
6   Bernie  St. Bernard  White         77         74    2018-02-27      0.77

In [4]:
dogs["bmi"] = dogs["weight_kg"] / dogs["height_m"] ** 2 
print(dogs.head())

      name       breed  color  height_cm  weight_kg date_of_birth  height_m  \
0    Bella    Labrador  Brown         56         25    2013-07-01      0.56
1  Charlie      Poodle  Black         43         23    2016-09-16      0.43
2     Lucy   Chow Chow  Brown         46         22    2014-08-25      0.46
3   Cooper   Schnauzer   Gray         49         17    2011-12-11      0.49
4      Max    Labrador  Black         59         29    2017-01-20      0.59

          bmi
0   79.719388
1  124.391563
2  103.969754
3   70.803832
4   83.309394

Múltiples manipulaciones

In [5]:
bmi_lt_100 = dogs[dogs["bmi"] < 100] 
bmi_lt_100_height  = bmi_lt_100.sort_values("height_cm", ascending=False) 
bmi_lt_100_height[["name", "height_cm", "bmi"]]

     name  height_cm        bmi
4     Max         59  83.309394
0   Bella         56  79.719388
3  Cooper         49  70.803832
5  Stella         18  61.728395