In [14]:
import pandas as pd

In [38]:
dogs=pd.DataFrame(
    {
        "name": ["Bella","Charlie","Lucy","Cooper","Max","Stella","Bernie"],
        "breed": ["Labrador","Poodle","Chow Chow","Schnauzer","Labrador","Chihuahua","St. Bernard"],
        "color": ["Brown","Black","Brown","Gray","Black","Tan","White"],
        "height_cm": [56,43,46,49,59,18,77],
        "weight_kg": [24,23,24,17,29,2,74],
        "date_of_birth": ['2013-07-01','2016-09-16','2014-08-25','2011-12-11','2017-01-20','2015-04-20','2018-02-27'],
    }
)

Listas de segmentación

In [16]:
breeds = ["Labrador", "Poodle",  
          "Chow Chow", "Schnauzer",  
          "Labrador", "Chihuahua",  
          "St. Bernard"]
breeds

['Labrador',
 'Poodle',
 'Chow Chow',
 'Schnauzer',
 'Labrador',
 'Chihuahua',
 'St. Bernard']

In [17]:
breeds[2:5]

['Chow Chow', 'Schnauzer', 'Labrador']

In [18]:
breeds[:3]

['Labrador', 'Poodle', 'Chow Chow']

In [19]:
breeds[:]

['Labrador',
 'Poodle',
 'Chow Chow',
 'Schnauzer',
 'Labrador',
 'Chihuahua',
 'St. Bernard']

Ordenar el índice antes de segmentar

In [20]:
dogs_srt = dogs.set_index(["breed", "color"]).sort_index() 
print(dogs_srt)

                      name  height_cm  weight_kg date_of_birth
breed       color
Chihuahua   Tan     Stella         18          2    2015-04-20
Chow Chow   Brown     Lucy         46         24    2014-08-25
Labrador    Black      Max         59         29    2017-01-20
            Brown    Bella         56         24    2013-07-01
Poodle      Black  Charlie         43         23    2016-09-16
Schnauzer   Gray    Cooper         49         17    2011-12-11
St. Bernard White   Bernie         77         74    2018-02-27

Segmentación del nivel de índice externo

In [21]:
dogs_srt.loc["Chow Chow":"Poodle"]

                    name  height_cm  weight_kg date_of_birth
breed     color
Chow Chow Brown     Lucy         46         24    2014-08-25
Labrador  Black      Max         59         29    2017-01-20
          Brown    Bella         56         24    2013-07-01
Poodle    Black  Charlie         43         23    2016-09-16

Cortar mal los niveles de índice internos

In [23]:
print(dogs_srt.loc["Tan":"Grey"])

Empty DataFrame
Columns: [name, height_cm, weight_kg, date_of_birth]
Index: []

Cortar correctamente los niveles de índice internos

In [24]:
dogs_srt.loc[
    ("Labrador", "Brown"):("Schnauzer", "Grey")]

                    name  height_cm  weight_kg date_of_birth
breed     color
Labrador  Brown    Bella         56         24    2013-07-01
Poodle    Black  Charlie         43         23    2016-09-16
Schnauzer Gray    Cooper         49         17    2011-12-11

Columnas cortadas

In [25]:
dogs_srt.loc[:, "name":"height_cm"]

                      name  height_cm
breed       color
Chihuahua   Tan     Stella         18
Chow Chow   Brown     Lucy         46
Labrador    Black      Max         59
            Brown    Bella         56
Poodle      Black  Charlie         43
Schnauzer   Gray    Cooper         49
St. Bernard White   Bernie         77

Cortar dos veces

In [26]:
dogs_srt.loc[
    ("Labrador", "Brown"):("Schnauzer", "Grey"),  
    "name":"height_cm"]

                    name  height_cm
breed     color
Labrador  Brown    Bella         56
Poodle    Black  Charlie         43
Schnauzer Gray    Cooper         49

In [27]:
dogs = dogs.set_index("date_of_birth").sort_index() 
print(dogs)

                  name        breed  color  height_cm  weight_kg
date_of_birth
2011-12-11      Cooper    Schnauzer   Gray         49         17
2013-07-01       Bella     Labrador  Brown         56         24
2014-08-25        Lucy    Chow Chow  Brown         46         24
2015-04-20      Stella    Chihuahua    Tan         18          2
2016-09-16     Charlie       Poodle  Black         43         23
2017-01-20         Max     Labrador  Black         59         29
2018-02-27      Bernie  St. Bernard  White         77         74

Cortar por fechas

In [30]:
# Consigue perros con date_of_birth entre 2014-08-25 y 2016-09-16
dogs.loc["2014-08-25":"2016-09-16"]

                  name      breed  color  height_cm  weight_kg
date_of_birth
2014-08-25        Lucy  Chow Chow  Brown         46         24
2015-04-20      Stella  Chihuahua    Tan         18          2
2016-09-16     Charlie     Poodle  Black         43         23

Segmentación por fechas parciales

In [36]:
# Consigue perros con date_of_birth entre 2014-01-01 y 2016-12-31
dogs.loc["2014":"2017"]

                  name      breed  color  height_cm  weight_kg
date_of_birth
2014-08-25        Lucy  Chow Chow  Brown         46         24
2015-04-20      Stella  Chihuahua    Tan         18          2
2016-09-16     Charlie     Poodle  Black         43         23

Subconjuntos por número de fila/columna

In [39]:
print(dogs.iloc[2:5, 1:4])

       breed  color  height_cm
2  Chow Chow  Brown         46
3  Schnauzer   Gray         49
4   Labrador  Black         59