In [7]:
import pandas as pd

In [18]:
import numpy as np
import random

# Número de filas que deseas generar
num_filas = 92

# Llenado de los datos que seran los aleatorios
breed = pd.Series(["Labrador","Poodle","Chow Chow","Boxer","Chihuahua","St. Bernard","Beagle","Dachshund"]) 
color = pd.Series(["Black","Brown","Gray","Tan","White"])

# Crear un nuevo DataFrame vacío
dog_pack = pd.DataFrame()

# Rellenar cada columna con valores aleatorios según el tipo de datos
dog_pack["breed"] = [random.choice(breed) for _ in range(num_filas)]
dog_pack["color"] = [random.choice(color) for _ in range(num_filas)]
dog_pack["height_cm"] = np.round(np.random.uniform(30, 70, size=num_filas),1)
dog_pack["weight_kg"] = np.round(np.random.uniform(1, 70, size=num_filas),1)

dog_pack

        breed  color  height_cm  weight_kg
0       Boxer  Black       49.6       66.7
1   Chow Chow  White       32.5       41.2
2    Labrador  Black       46.7       14.5
3       Boxer   Gray       36.8       40.3
4      Beagle    Tan       30.7       67.2
..        ...    ...        ...        ...
87      Boxer  White       36.0       31.3
88  Chow Chow  White       49.2       13.7
89     Beagle   Gray       51.9       20.9
90   Labrador    Tan       44.9       30.4
91  Chihuahua  Black       63.0       54.4

[92 rows x 4 columns]

Pivotando la tabla

In [19]:
dogs_height_by_breed_vs_color = dog_pack.pivot_table( 
        "height_cm", index="breed", columns="color") 
print(dogs_height_by_breed_vs_color)

color            Black   Brown       Gray        Tan      White
breed
Beagle       51.333333  44.280  42.750000  43.700000  44.950000
Boxer        52.460000  47.025  40.433333        NaN  47.233333
Chihuahua    58.250000  48.600  59.100000  67.950000  49.500000
Chow Chow    43.733333  51.150  45.200000  54.533333  40.433333
Dachshund    52.250000     NaN  44.066667  47.000000  61.200000
Labrador     51.800000  43.100  52.075000  37.500000  53.900000
Poodle       58.175000     NaN  54.350000        NaN  47.350000
St. Bernard  61.000000  38.500  51.300000        NaN  59.100000

.loc[] + slicing

In [20]:
dogs_height_by_breed_vs_color.loc["Chow Chow":"Poodle"]

color          Black  Brown       Gray        Tan      White
breed
Chow Chow  43.733333  51.15  45.200000  54.533333  40.433333
Dachshund  52.250000    NaN  44.066667  47.000000  61.200000
Labrador   51.800000  43.10  52.075000  37.500000  53.900000
Poodle     58.175000    NaN  54.350000        NaN  47.350000

El argumento axis

In [21]:
dogs_height_by_breed_vs_color.mean(axis="index")

color
Black    53.625208
Brown    45.442500
Gray     48.659375
Tan      50.136667
White    50.458333
dtype: float64

Cálculo de estadísticas de resumen en columnas

In [23]:
dogs_height_by_breed_vs_color.mean(axis="columns")

breed
Beagle         45.402667
Boxer          46.787917
Chihuahua      56.680000
Chow Chow      47.010000
Dachshund      51.129167
Labrador       47.675000
Poodle         53.291667
St. Bernard    52.475000
dtype: float64