In [1]:
import pandas as pd

In [2]:
dogs=pd.DataFrame(
    {
        "name": ["Bella","Charlie","Lucy","Cooper","Max","Stella","Bernie"],
        "breed": ["Labrador","Poodle","Chow Chow","Schnauzer","Labrador","Chihuahua","St. Bernard"],
        "color": ["Brown","Black","Brown","Gray","Black","Tan","White"],
        "height_cm": [56,43,46,49,59,18,77],
        "weight_kg": [24,23,24,17,29,2,74],
        "date_of_birth": ['2013-07-01','2016-09-16','2014-08-25','2011-12-11','2017-01-20','2015-04-20','2018-02-27'],
    }
)

Agrupar por en la tabla dinámica

In [3]:
dogs.groupby("color")["weight_kg"].mean()

color
Black    26.0
Brown    24.0
Gray     17.0
Tan       2.0
White    74.0
Name: weight_kg, dtype: float64

In [4]:
dogs.pivot_table(values="weight_kg",  
index="color")

       weight_kg
color
Black       26.0
Brown       24.0
Gray        17.0
Tan          2.0
White       74.0

Diferentes estadísticas

In [5]:
import numpy as np 
dogs.pivot_table(values="weight_kg", index="color", aggfunc=np.median)

C:\Users\valer\AppData\Local\Temp\ipykernel_16640\2971685195.py:2: FutureWarning: The provided callable <function median at 0x00000202D5A08D60> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  dogs.pivot_table(values="weight_kg", index="color", aggfunc=np.median)

       weight_kg
color
Black       26.0
Brown       24.0
Gray        17.0
Tan          2.0
White       74.0

Múltiples estadísticas

In [6]:
dogs.pivot_table(values="weight_kg", index="color", aggfunc=[np.mean, np.median])

C:\Users\valer\AppData\Local\Temp\ipykernel_16640\313558610.py:1: FutureWarning: The provided callable <function mean at 0x00000202D58BB4C0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  dogs.pivot_table(values="weight_kg", index="color", aggfunc=[np.mean, np.median])
C:\Users\valer\AppData\Local\Temp\ipykernel_16640\313558610.py:1: FutureWarning: The provided callable <function median at 0x00000202D5A08D60> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  dogs.pivot_table(values="weight_kg", index="color", aggfunc=[np.mean, np.median])

           mean    median
      weight_kg weight_kg
color
Black      26.0      26.0
Brown      24.0      24.0
Gray       17.0      17.0
Tan         2.0       2.0
White      74.0      74.0

Pivote en dos variables

In [7]:
dogs.groupby(["color", "breed"])["weight_kg"].mean()

color  breed
Black  Labrador       29.0
       Poodle         23.0
Brown  Chow Chow      24.0
       Labrador       24.0
Gray   Schnauzer      17.0
Tan    Chihuahua       2.0
White  St. Bernard    74.0
Name: weight_kg, dtype: float64

In [8]:
dogs.pivot_table(values="weight_kg", index="color", columns="breed")

breed  Chihuahua  Chow Chow  Labrador  Poodle  Schnauzer  St. Bernard
color
Black        NaN        NaN      29.0    23.0        NaN          NaN
Brown        NaN       24.0      24.0     NaN        NaN          NaN
Gray         NaN        NaN       NaN     NaN       17.0          NaN
Tan          2.0        NaN       NaN     NaN        NaN          NaN
White        NaN        NaN       NaN     NaN        NaN         74.0

Rellenar los valores que faltan en las tablas dinámicas

In [9]:
dogs.pivot_table(values="weight_kg", index="color", columns="breed", fill_value=0)

breed  Chihuahua  Chow Chow  Labrador  Poodle  Schnauzer  St. Bernard
color
Black        0.0        0.0      29.0    23.0        0.0          0.0
Brown        0.0       24.0      24.0     0.0        0.0          0.0
Gray         0.0        0.0       0.0     0.0       17.0          0.0
Tan          2.0        0.0       0.0     0.0        0.0          0.0
White        0.0        0.0       0.0     0.0        0.0         74.0

Suma con tablas dinámicas

In [10]:
dogs.pivot_table(values="weight_kg", index="color", columns="breed",  
fill_value=0, margins=True)

breed,Chihuahua,Chow Chow,Labrador,Poodle,Schnauzer,St. Bernard,All
color,,,,,,,
Black,0.0,0.0,29.0,23.0,0.0,0.0,26.000000
Brown,0.0,24.0,24.0,0.0,0.0,0.0,24.000000
Gray,0.0,0.0,0.0,0.0,17.0,0.0,17.000000
Tan,2.0,0.0,0.0,0.0,0.0,0.0,2.000000
White,0.0,0.0,0.0,0.0,0.0,74.0,74.000000
All,2.0,24.0,26.5,23.0,17.0,74.0,27.571429